/* ---------------------------SETTING UP PAGE--------------------------- */

body{
    color: #fff;
    font-family: 'Nunito Semibold';
    background-color: #252525;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

#content{
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: 1% auto;
    padding: 20px;
    background-color: #313131;
    border: black 2px solid;
    border-radius: 2%;
    box-shadow: 0 0 30px #000000;
}

#content > *{
    margin: 5px;
    padding: 5px;
}

.flexer {
    flex: 2;
}

header{
    flex: 1;
}

main{
    flex: 2;
}

footer {
    flex: 1;
    padding: 0.5% 1% 0 1%;
}

footer a {
    text-align: center;
    color: white;
    display: block;
    font-size: 17px;
    padding: 1%;
    border: 3px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    float: right;
}

footer a:hover {
    border: 3px solid #187599;
    text-decoration: underline;
}

/* ---------------------------GRID CSS--------------------------- */

#gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    line-height: 1.3em;
    /* word-spacing: 0.1em; */
    letter-spacing: 0.075em;
    gap: 20px;
    text-align: justify;
    /* align-items: center; */
}

#gridContainer > * {
    border-radius: 2%;
    border: 7px solid;
    padding: 3%;
    transition: all 0.75s;
}

#gridContainer section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer section a {
    color: white;
    text-decoration: underline;
    font-style: italic;
}

#gridContainer > div:hover {
    box-shadow: 0 0 30px #000000;
    opacity: 1;
}

#gridContainer figure {
    margin: 0 auto;
}

#cp1 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background: #07455e90;
    border-color: #04222e;
}

#cp1:hover {
    background: #07455e;
}

#cp2 {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    background: #3c637290;
    border-color: #1d2f36;
}

#cp2:hover {
    background: #3c6372;
}

#ps {
    background: #059bd690;
    border-color: #034863;
}

#ps:hover {
    background: #059bd6;
}

#pg {
    background: #18759990;
    border-color: #0e455a;
}

#pg:hover {
    background: #187599;
}

#ds {
    background: #34779290;
    border-color: #214f61;
}

#ds:hover {
    background: #347792;
}

#bgclr:hover {
    background-color: #242424;
    cursor: pointer;
}

#is {
    background: #606e7490;
    border-color: #2e3538;
}

#is:hover {
    background: #606e74;
}

#eg {
    background: #20394690;
    border-color: #1b2c35;
}

#eg:hover {
    background: #203946;
}