* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	color: #03c900;
}

/* -----------------------COMMON STUFF----------------------- */

body, header, footer {
	background-color: #1f1f1f;
}

main, header, footer {
	width: 30vw;
}

/* ---------------------------HEADER--------------------------- */

header {
	position: sticky;
	top: 0;
	padding: 5px 0;
	font-size: 0.75em;
	display: flex;
    align-items: center;
}

.ccontainer {
	flex: 1;
}

header a {
	display: block;
	height: 20px;
	width: 20px;
	border: 2px solid #03c900;
	border-radius: 100%;
	margin: auto;
	cursor: pointer;
	transition: all 2s ease;
}

.circleFull {
	background-color: #03c900;
}

/* -------------------------TEXT PART------------------------- */

main {
	padding: 15px;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	line-height: 1.5em;
}

i {
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: #b3f03a;
}

a:hover {
	text-decoration: underline;
}

.smallerTxt {
	font-size: 0.9em;
}

/* ----------------------------IMAGE PART---------------------------- */

figure {
	display: block;
	margin: 0;
	width: 70vw;
	height: 100vh;
	position: fixed;
	top:0;
	left: 30vw;
	overflow: hidden;
}

figure img {
	top:0;
	right:0;
	position: absolute;
	margin: 0;
	transition: all 3s ease;
}

#labelledImg {
	opacity: 0;
}

/* ------------------------------PARTS OF IMAGE------------------------------ */

.sect1 {
	width: 133vh; /* 147% the height of the image is the width ratio */
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.sect2 {
	top: 0%;
    left: 60%;
    transform: translateX(-60%);
	width: 1700px;
}

.sect3 {
	top: 0;
    left: 0;
	width: 5175px;
}

.sect4 {
	top: 0;
    left: calc(-3210px + 70vw);
	width: 4700px;
}

.sect5 {
	top: 0;
    left: calc(-2630px + 70vw);
	width: 2610px;
}

.sect6 {
	top: 6%;
    left: 28%;
    transform: translate(-28%, -6%);
	width: 1890px;
}

.sect7 {
	top: calc(-1375px + 100vh);
    left: calc(-2275px + 70vw);
	width: 2300px;
}

/* ------------------------------FOOTER------------------------------ */
footer {
	position: sticky;
	bottom: 0;
	padding: 5px 0;
	font-size: 0.75em;
	display: flex;
    align-items: center;
}

footer a{
	flex: 1;
	text-align: center;
}