* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background-color: #1f1f1f;
	color: #03c900;
}

main {
	width: 30vw;
	padding: 20px;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	line-height: 1.5em;
}

i {
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: #b3f03a;
}

a:hover {
	text-decoration: underline;
}

.smallerTxt {
	font-size: 0.9em;
}

figure {
	display: block;
	margin: 0;
	width: 70vw;
	height: 100vh;
	position: fixed;
	top:0;
	right:0;
	overflow: hidden;
}

figure img {
	top:0;
	right:0;
	position: absolute;
	margin: 0;
	transition: all 3s ease;
}

#labelledImg {
	opacity: 0;
}

.sect1 {
	width: 133vh; /* 147% the height of the image is the width ratio */
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.sect2 {
	top: 0%;
    left: 60%;
    transform: translateX(-60%);
	width: 1700px;
}

.sect3 {
	top: 0;
    left: 0;
	width: 5175px;
}

.sect4 {
	top: 0;
    left: calc(-3210px + 70vw);
	width: 4700px;
}

.sect5 {
	top: 0;
    left: calc(-2630px + 70vw);
	width: 2610px;
}

.sect6 {
	top: 6%;
    left: 28%;
    transform: translate(-28%, -6%);
	width: 1890px;
}

.sect7 {
	top: calc(-1375px + 100vh);
    left: calc(-2275px + 70vw);
	width: 2300px;
}


figure figcaption{
	width: 50%;
	position: absolute;
	left: 50%;
	top: 105%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
	line-height: 1.5em;
}