header{
    display: inline-block;
}

body {
    color: white;
    background-color: #2d2d2d;
    width: 100%;
    height: 768px;
    min-width: 800px;
    max-width: 1366px;
    max-height: 768px;
    /* border: 1px solid white; */
    padding: 15px;
    margin: auto;
}

#banner {
    width: 100%;
    height: 250px;
    border: 1px solid white;
    position: relative;
    margin: 0px auto;
    flex: 3;
}

#mainCol {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
    border: 1px dashed white;
    /* flex: 1; */
}

#mainCol h2 {
    border: 2px solid white;
    margin: -1px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

#mainCol div {
    flex: 1;
    margin: 20px 50px;
    border: 2px solid white;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#mainCol ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    align-items: center;
}

#mainCol li {
    width: 100%;
    height: 100%;
    flex: 1;
    /* border: 1px solid seagreen; */
}

a {
    color: white;
    display: block;
    font-size: 17px;
    padding: 10px;
    border: 4px solid transparent;
}

a:hover {
    border: 4px solid steelblue;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

footer a {
    display: inline-block;
    flex: 1;
    text-align: center;
    margin: 0 50px;
}