/* ---------------------------SETTING UP PAGE--------------------------- */
* {
    box-sizing: border-box;
}

.centerStuff {
    display: flex;
    justify-content: center;
    align-items: center; 
}

html {
    flex-flow: row nowrap;
    align-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: #242424;
}

body {
    width: 100%;
    max-width: 1366px;
    height: 100%;
    max-height: 768px;
    position: relative;
    align-self: auto;
    border: black 2px solid;
    box-shadow: 0 0 30px #000000;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
}

html, body {
    overflow: hidden;
    margin: 0;
}

/* -----------------------------Page CSS----------------------------- */

header, main, footer {
    flex: 1;
}

.spacer {
    flex: 2;
}

header {
    font-family: 'Aclonica';
    color: #e15bd6;
    font-size: 1.5em;
}

#instructions {
    margin: 0 0 2% 0;
    font-family: 'Ink Free';
    color: white;
    font-size: 1.15em;
    letter-spacing: 0.07em;
    line-height: 1.25em;
}

#instructions > div{
    width: 70%;
    text-align: justify;
}

#display {
    display: flex;
}

#display > div{
    flex: 1;
    /* align-content: center;
    align-items: center; */
    position: relative;
}

footer {
    padding: 3%;
}

footer a {
    text-align: center;
    color: white;
    display: block;
    font-size: 17px;
    padding: 1%;
    border: 3px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    float: right;
}

footer a:hover {
    border: 3px solid #e15bd6d0;
    text-decoration: underline;
}

/* --------------------------Player Display CSS-------------------------- */

.player {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border: 7px solid;
    border-radius: 3%;
    flex-direction: column;
    color: #ffffffe5;
}

.inactive {
    opacity: 0.3;
}

.p1 {
    background-color: #9193ff55;
    border-color: #9193ff;
}

.p2 {
    background-color: #73c16955;
    border-color: #73c169;
}

.pname {
    font-size: 3em;
    font-family: 'Ink Free';
    padding-bottom: 5%;
}

.pscore {
    font-size: 5em;
}

/* --------------------------Middle Display CSS-------------------------- */

.turn {
    flex-direction: column;
}

.turn > h4 {
    font-size: 2.25em;
    font-family: 'Ink Free';
    color: #ffffffe5;
    margin: 0;
    text-align: center;
}

.diceDisplay {
    display: flex;
}

.dice {
    flex: 1;
    width: 100px;
    height: 100px;
    margin: 30px 30px;
    font-size: 3.35em;
    border: 3px solid white;
    background-color: #ffffff70;
}

.one {
    border: 3px solid #ff4b31ff;
    background-color: #ff4b3162;
}

.centerStuff > button {
    outline: 0;
    background-color: #e15bd681;
    border-radius: 10%;
    border: 2px solid #cccccc;
    color: #eeeeee;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1.45em;
    margin: 0 2%;
    width: 20%;
}

.centerStuff > button:hover {
    background-color: #e15bd6d5;
}